apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      annotations:
        configmap-hash: "bdff49ef"
      labels:
        app: demo
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        envFrom:
        - configMapRef:
            name: demo-config
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
