apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: demo-app
spec:
  replicas: 5

  strategy:
    canary:
      steps:
      - setWeight: 20
      - analysis:
          templates:
          - templateName: smoke-test
      - setWeight: 50
      - pause: {duration: 120s}
      - setWeight: 100
  selector:
    matchLabels:
      app: demo

  template:
    metadata:
      labels:
        app: demo

    spec:
      containers:
      - name: app
        image: nginx:does-not-exist
        envFrom:
        - configMapRef:
            name: demo-config
            optional: false
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
